*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(32, 32, 46);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

/* Game Title and Heading CSS */
h1{
    background-color: rgb(20, 20, 30);
    font-size: 32px;
    text-align: center;
    padding: 10px;
}

/* Game Object CSS */
#game-element{
    width: 600px;
    height: 600px;
    background-color: rgb(56, 56, 80);
    border: 3px solid rgb(20, 20, 30);
    border-radius: 15px;
    margin: 20px auto 10px auto;
    display: grid;
    place-items: center;
}

#game-object{
    width: 400px;
    height: 400px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    box-shadow: 0 20px 0 rgb(183, 9, 0), 
    0 15px 20px rgba(0,0,0,.8);
    display: grid;
    place-items: center;
    cursor: pointer;
    user-select: none;
}

#game-object:hover{
    background-color: rgb(235, 0, 0);
}

#game-object:active{
    transform: translateY(4px);
    box-shadow: 0 4px 0 rgb(183,0,0),
      0 8px 6px rgba(0,0,0,.45);
}

h2{
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 32px;
    text-shadow: 0 3px 1px rgba(122,17,8,.8);
}

/* Game Info CSS */
#game-info{
    padding-bottom: 20px;
}

/* Misc */
h3{
    text-align: center;
    font-size: 24px;
}

p{
    text-align: center;
    font-size: 16px;
}

/* Game Upgrades CSS */
.upgrade-title{
    padding-bottom: 10px;
}

#game-upgrades{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.upgrade-tiles{
    width: 160px;
    height: 120px;
    margin: 10px;
    padding: 5px;
    background-color: rgb(56, 56, 80);
    border-radius: 15px;
    border: 3px solid rgb(20, 20, 30);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.upgrade-button{
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
    background-color: rgb(0, 175, 0);
    box-shadow: 0 5px 0 rgb(0, 105, 26), 
    0 2px 5px rgba(0,0,0,.8);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.upgrade-button:hover{
    background-color: rgb(0, 165, 0);
}

.upgrade-button:active{
    transform: translateY(1px);
    box-shadow: 0 1px 0 rgb(0,105,0),
      0 2px 1px rgba(0,0,0,.45);
}

h4{
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    text-shadow: 0 3px 1px rgba(0, 90, 23, 0.8);
}

.upgrade-amount{
    padding: 2px 5px 2px 5px;
    background-color: rgb(0, 0, 0);
    color: rgb(0, 175, 0);
    border-radius: 5px;
}
